@{
    ViewData["Title"] = "PayPal Page";
}


<div class="jumbotron">
    <h1>Paypal Integration in Asp.Net Core</h1>
</div>

<div class="row">
    <a class="btn btn-primary" href="/order/PaymentWithPaypal">Pay Now</a>
</div>